

<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>

<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>


All organiztions

create video <%= link_to 'create_video', new_video_path, method: :post %>

<table>
  <tr>
    <th>name</th>
    <th>users</th>
  </tr>
  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
      <% organization.users.select(:email).each do |email| %>
      <td>
        <%= email %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Description</th>
    <th>Thumbnail_image</th>
    <th>Video</th>
    <th>Categories</th>
  </tr>
  <% @videos.each do |video| %>
    <tr>
      <td><%= video.description %></td>
      <td><%= image_tag(url_for(video.thumbnail_image)) %></td>
      <td>
        <video controls>
          <source src="<%= url_for(video.main_video) %>">
        </video>
      </td>
      <td><%= video.categories %></td>
    </tr>
  <% end %>
</table>

