

<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>

<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>


All organiztions

create video <%= link_to 'create_video', new_video_path, method: :post %>

<table>
  <tr>
    <th>name</th>
    <th>users</th>
  </tr>
  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
      <% organization.users.select(:email).each do |email| %>
      <td>
        <%= email %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>

<table>
  <tr>
    <th>Description</th>
    <th>Thumbnail_image</th>
    <th>Video</th>
    <th>Categories</th>
  </tr>
  <% @videos.each do |video| %>
    <tr>
      <td><%= video.description %></td>

      <td><%= image_tag(url_for(video.thumbnail_image), height: 50, width: 50) if video.thumbnail_image.attached? %></td>
      <td>
        <%# play_video = ActiveStorage::Service::DiskService.new(root: Rails.root.to_s + '/tmp/').send(:path_for, "video-#{video.main_video.filename}.mp4") %>
        <!-- <video id="video_player" class="video-js vjs-default-skin" controls preload="auto" width="320" height="264" data-setup='{ "src": "<%#= play_video%>" }'> -->
          
        <!-- </video> -->

        <video 
          id="my-player"
            class="video-js vjs-theme-forest"
            controls
            preload="auto"
            poster="//vjs.zencdn.net/v/oceans.png"
            data-setup='{}'
        >
        <source src="<%= rails_blob_path(video.main_video)%>" />
        </video>
      </td>
      <td><%= video.categories %></td>
    </tr>
  <% end %>
</table>



