

<% if user_signed_in? %>
  <h1>Welcome Home, <%= current_user.email %></h1>
  <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete } %>

<% else %>
  <h1>Home</h1>
  <%= link_to 'Sign in', new_user_session_path %>
<% end %>


All organiztions

<table>
  <tr>
    <th>name</th>
    <th>users</th>
  </tr>
  <% @organizations.each do |organization| %>
    <tr>
      <td><%= organization.name %></td>
      <% organization.users.select(:email).each do |email| %>
      <td>
        <%= email %>
      </td>
      <% end %>
    </tr>
  <% end %>
</table>

